<section class="background-pic">
  <img class="group" src="http://i.imgur.com/ZrLkBJe.jpg" alt="" />
<section class="sign">

<h2 class="sign">Sign In</h2>

<%= render "layouts/errors" %>

<form class="sign" action="<%= session_url %>" method="post">
  <%= auth_token_input %>

  <label>
    Username
  </label>
    <input type="text" name="user[email]" value="">

  <label>
    Password
  </label>
    <input type="password" name="user[password]" value="">

  <input class="button" type="submit" value="Sign In">
</form>
</section>
</section>
