<section class="background-pic">
  <img class="group" src="http://i.imgur.com/ZrLkBJe.jpg" alt="" />
<section class="group sign">

<h2 class="sign">Sign In</h2>

<%= render "layouts/errors" %>

<form class="sign" action="<%= session_url %>" method="post">
  <%= auth_token_input %>

  <label>
    Email
  </label>
    <input type="text" name="user[email]" value="">

  <label>
    Password
  </label>
    <input type="password" name="user[password]" value="">

  <input class="button" type="submit" value="Sign In">
</form>

<div class="guest">
  <a class="guest" href="/users/guest">Guest Sign In</a>
</div>

<div class="fbook">
  <a class="zocial facebook" href="/auth/facebook">Sign In with Facebook</a>
</div>

</section>
</section>
