<% if (current_id !== -1) { %>
  <form class="comment-form">
    <textarea class="comment-input" name="comment[body]"></textarea>
    <input type="submit" class="comment-submit" value="Submit Comment">
  </form>
<% } %>
