<% comments.each( function(comment) { %>
  <li><span><%= comment.escape('body') %></span><span>      -<%= comment.escape('owner')
  %></span> <% if (comment.get('owner_id') === current_id) { %> <button data-id="<%= comment.id %>" class="comment-delete">X</button><% } %></li>
<% });  %>
