<h2>Recipes</h2>

<ul class='boards'>
  <% recipes.each(function (recipe) { %>
    <li>
      <a href="#/recipes/<%= recipe.id %>">
          <%= recipe.escape('title') %>
      </a>
    </li>
  <% }); %>
</ul>

<% if (current_id !== -1) { %>
  <a href="#/recipes/new">Add a Recipe!</a>
<% } %>
