<div id="search-background">
  <img src="" alt="" />
  <form>
      <input class="t" type="text" name="query" placeholder="Search" value="">
      <input class="s" type="submit" value="     ">
  </form>
</div>
<section class="tags">

  <ul class='group tags'>
    <% tags.each(function (tag) { %>
      <li class="tag" data-id="<%= tag.id %>">
            <%= tag.escape('name') %>
        </a>
      </li>
    <% }); %>
  </ul>
</section>

<div id="tag-show">

</div>
