<h2Top Tags</h2>

<ul class='tags'>
  <% tags.each(function (tag) { %>
    <li class="tag" data-id="<%= tag.id %>">
          <%= tag.escape('name') %>
      </a>
    </li>
  <% }); %>
</ul>

<div id="tag-show">

</div>
