<h2>Recipes</h2>

<ul class='recipes'>
  <% recipes.each(function (recipe) { %>
    <li>
      <a href="#/recipes/<%= recipe.id %>">
          <%= recipe.escape('title') %>
      </a>
    </li>
  <% }); %>
</ul>
