body h2 {
  font-size: 36px;

}

body h5 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 700px;
}

input {
  border-radius: 5px;
  background: lightsteelblue;
  padding: 3px;
}

#content {
  margin-top: 35px;
}

section.sign {
  display: block;
  margin: auto;
  width: 500px;
  border-radius: 8px;
  border: 2px solid grey;
  margin-top: 100px;
  background: rgba(160, 160, 160, .5);
}

form.sign {
  margin: 0 0 20px 20px;
}

form.sign * {
  display: block;
}

section.background-pic {
  position: relative;
  display: block;
  height: 900px;
  border: 1px solid transparent;
  max-height: 1200px;

}

section.background-pic img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

form.sign label {
  margin-bottom: 5px;
  text-shadow: 0 0 8px white;
}

form.sign input {
  background: lightgray;
  padding: 5px 5px;
  margin-bottom: 5px;
}

form.sign input:active {
  outline: none;
}

form.sign input.button {
  background: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 5px;
  box-sahdow: 3px 0 darkgray;
  box-shadow: 0 0 5px white;
}

form.sign input.button:active {

}

h2.sign {
  display: block;
  margin: auto;
  width: 140px;
  text-shadow: 0 0 10px white;
}

li.recipe-box {
  display: block;
  border: 1px solid #7f8c8d;
  height: 250px;
  width: 300px;
  background: #ecf0f1;
  position: relative;
  float: left;
  margin: 20px 20px;
}

li.recipe-box a:hover {
  color: black;
}

li.recipe-box strong{
  position: absolute;
  font-size: 26px;
  text-shadow: 0 0 20px #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

section.tags {
  display: block;
  background: black;
}

ul.tags {
  width: 50%;
  margin: auto;
}

ul.tags li {
  float: left;
  color: white;
  border-left: 1px solid white;
  padding: 10px 0;
  width: 33%;
  text-align: center;
  position: relative;
}

ul.tags li.selected:after {
  background: #95a5a6;
}

ul.tags li:last-child {
  border-right: 1px solid white;
}

ul.tags li:hover {
  cursor: pointer;
}

div#search-background {
  display: block;
  height: 400px;
  position: relative;
}

div#search-background form {
  position: absolute;
  left: 50%;
  transform: translateX(-200%);
  top: 50%;
  transform: translateY(-50%);
}

body {
  background: #95a5a6;
  min-width: 750px;
}

div.recipe-pic {
  position: relative;
  width: 80%;
  margin: auto;
}

div.recipe-pic h2,h6 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

div.recipe-pic h2 {
  font-size: 42px;
  top: 12px;
}

div.recipe-pic h6 {
  font-size: 36px;
  bottom: 5px;
}

div.nutrition {
  display: block;
  width: 250px;
}

div.waiting {
  border-radius: 8px;
  border: 2px solid #bdc3c7;
  background: #3498db;
  color: #2c3e50;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 24px;
  padding: 10px 20px;
  display: block;
}

div.recipes-form form {
  display: block;
  margin: auto;
  width: 700px;
}

div.recipes-form form label {
  display: block;
}

div.recipes-form form * {
  display: block;
  float: none;
}

div.recipes-show {
  background: #bdc3c7;
  width: 80%;
  margin: auto;
}

div.recipes-show h5 {
  text-align: center;
  text-decoration: underline;
}

div.recipes-show .info{
  padding: 10px;
  margin: auto;
}

div.recipes-show .info .time{
  padding: 10px;
  margin: auto;
  display: block;
  border: 1px solid #95a5a6;
}

div.recipes-show .info p {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

div.recipes-show .info .time h4 {
  display: block;
  text-align: center;
}
