body h2 {
  font-size: 36px;

}

body h5 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
}

input {
  border-radius: 5px;
  background: lightsteelblue;
  padding: 3px;
}

#content {
  margin-top: 35px;
}

section.sign {
  display: block;
  margin: auto;
  width: 500px;
  border-radius: 8px;
  border: 2px solid grey;
  margin-top: 100px;
  background: rgba(160, 160, 160, .5);
}

form.sign {
  margin: 0 0 20px 20px;
}

form.sign * {
  display: block;
}
form.sign input {
  float: none;
  cursor: text;
}

section.sign input.guest {
  float: right;
  cursor: pointer;
  background: green;
  color: white;
  padding: 6px 5px;
  display: block;
  margin: 5px 20px 0 0 ;
}

div.fbook {
  margin: 0 0 20px 20px;
  float: left;
}

section.background-pic {
  position: relative;
  display: block;
  height: 900px;
  border: 1px solid transparent;
  max-height: 1200px;

}

section.background-pic img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

form.sign label {
  margin-bottom: 5px;
  text-shadow: 0 0 8px white;
}

form.sign input {
  background: lightgray;
  padding: 5px 5px;
  margin-bottom: 5px;
}

form.sign input:active {
  outline: none;
}

form.sign input.button {
  background: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 5px;
  box-shadow: 3px 0 darkgray;
  box-shadow: 0 0 5px white;
  position: relative;
}

form.sign input.button:active {
  box-shadow: none;
  top: 3px;
}

h2.sign {
  display: block;
  margin: auto;
  width: 140px;
  text-shadow: 0 0 10px white;
}

li.recipe-box {
  display: block;
  border: 1px solid #7f8c8d;
  height: 250px;
  width: 300px;
  background: #ecf0f1;
  position: relative;
  float: left;
  margin: 20px 20px;
}

li.recipe-box a:hover {
  color: black;
}

li.recipe-box strong{
  position: absolute;
  font-size: 26px;
  text-shadow: 0 0 20px #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

section.tags {
  display: block;
  background: black;
}

ul.tags {
  width: 50%;
  margin: auto;
}

ul.tags li {
  float: left;
  color: white;
  border-left: 1px solid white;
  padding: 10px 0;
  width: 33%;
  text-align: center;
  position: relative;
}

ul.tags li:after {
  background: black;
  content: "";
  position: absolute;
  border: 10px solid black;
  bottom: -15px;
  transform: rotate(45deg) translateX(-50%);
  left: 50%;
  opacity: 0;
  transition: opacity .7s ease-in-out;
}

ul.tags li.selected:after {
  background: black;
  content: "";
  position: absolute;
  border: 10px solid black;
  bottom: -15px;
  transform: rotate(45deg) translateX(-50%);
  left: 50%;
  opacity: 1;
  transition: opacity .7s ease-in-out;
}

ul.tags li:last-child {
  border-right: 1px solid white;
}

ul.tags li:hover {
  cursor: pointer;
}

div#search-background {
  display: block;
  height: 400px;
  position: relative;
  background: image-url('ramen.jpg');
  background-size: cover;
}

div#search-background form {
  position: absolute;
  left: 40%;
  transform: translateX(-200%);
  top: 50%;
  transform: translateY(-50%);
  display: block;
  background: black;
  border: 2px solid black;
}
div.center {
  display: block;
  margin: auto;
  border: 1px solid black;
  border-top: none;
  padding-bottom: 10px;
  width: 400px;
}
div.center h5 {
  text-align: center;
  display: block;
  margin-top: 0;
}
div.center form {
  display: block;
  margin-left: 90px;;
}

div.center form .t {
  margin-top: 2px;
}

div.rec-search {
  display: block;
  margin: auto;
  width: 80%;
  background: #bdc3c7;
  min-height: 600px;
  border-bottom: 40px;
}

div.rec-search .t, .s{
  float: left;
}

.search {
  display: block;
  background: black;
  border: 2px solid black;
  float: left;
}

.t {
  cursor: text;
  float: none;
}

div.rec-search .s, div.recipes-index .s {
  float: none;
  background: image-url("search.png");
}

body {
  background: #95a5a6;
  min-width: 850px;
}

.selected:after {
  content: "";
  z-index: -5;
}

div.recipe-pic {
  position: relative;
  width: 80%;
  margin: auto;
}

div.recipe-pic h2,h6 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

div.recipe-pic h2 {
  font-size: 42px;
  top: 12px;
}

div.recipe-pic h6 {
  font-size: 36px;
  bottom: 5px;
}

div.nutrition {
  display: block;
  width: 250px;
}

div.waiting {
  border-radius: 8px;
  border: 2px solid #bdc3c7;
  background: #3498db;
  color: #2c3e50;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding: 10px 20px;
  display: block;
}

div.recipes-form form {
  display: block;
  margin: auto;
  width: 80%;
  background: #bdc3c7;
}

.sub {
  background: green;
  cursor: pointer;
}
div.recipes-form form.form .check {
  float: left;
  cursor: default;
}

div.recipes-form form.form .ch {
  float: left;
  margin-right: 5px;
}

div.recipes-form form.form textarea {
  height: 80px;
  width: 320px;
}

div.recipes-form form label {
  display: block;
  font-size: 20px;
  margin: 10px 0 5px 0;
}

div.recipes-form form label.ch {
  font-size: 16px;
  margin: none;
}

div.recipes-form form .sub {
  width: 100%;
  margin: auto;
  cursor: pointer;
}

div.recipes-form form a {
  color: green;
  font-weight: bold;
}

span.remove {
  background: red;
  border-radius: 50%;
  padding: 2px 5px;
  width: 9px;
  cursor: pointer;
}

div.recipes-form form * {
  display: block;
  float: none;
}

div.recipes-form form input {
  cursor: text;
  border: 1px solid #95a5a6;
}

div.recipes-show {
  background: #bdc3c7;
  width: 80%;
  margin: auto;
}

div.recipes-show h5 {
  text-align: center;
  text-decoration: underline;
}

div.recipes-show .info{
  padding: 10px;
  margin: auto;
}

div.recipes-show .info .time{
  padding: 10px;
  margin: auto;
  display: block;
}

.time table {
  margin: auto;
  border: 1px solid #95a5a6;
}

div.recipes-show .info p {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

div.recipes-show {
  margin-bottom: 50px;
}

div.recipes-show .info .time h4 {
  display: block;
  text-align: center;
}

div.recipes-show input.comment-submit, input.add-favorite, input.delete, input.delete-favorite {
  float: none;
}

div.recipes-show input.delete, input.delete-favorite {
  background: red;
}

div.recipes-show input.delete {
  margin-top: 8px;
  width: 100%;
}

div.recipes-show .edit-rec {
  background: #f1c40f;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  padding: 5px 0 5px 0;
}

div.recipes-show .edit-rec:hover {
  color: black;
}

div.recipes-show input.add-favorite, input.comment-submit {
  background: #2ecc71;
}

div.recipes-show div#fav, div#comm {
  float: left;
  display: block;
  width: 50%;
}

div.recipes-show div#comm textarea{
  width: 60%;
  float: left;
}

button.comment-delete{
  background: red;
  padding: 2px 7px 0 7px;
  border-radius: 50%;
}

button.comment-delete:hover {
  color: white;
  cursor: pointer;
}

div.recipes-show div#fav, div#comm h5{
  text-align: center;
}

div#tag {
  float: left;
  margin-left: 50%;
}

div#tag li {
  border: 1px solid #2c3e50;
  margin: 10px 0 10px 0;
  text-align: center;
  padding: 5px 5px;
  color: #ecf0f1;
  background: #2c3e50;
}

div.nutrition {
  float: left;
}

div.users-show h2{
  text-align: center;
  background: black;
  color: lightsteelblue;
}
div.users-show {
  background: #bdc3c7;
}

div.users-show div#my-recipes, div#my-favorites {
  width: calc(50% - 2px) ;
  float: left;
  text-align: center;
  min-height: 500px;
}

div.users-show div#my-recipes h5, div#my-favorites h5{
  text-decoration: underline;
  border-bottom: 10px;
}

div.users-show div#my-recipes {
  border-right: 2px solid black;
}

div.users-show div#my-favorites {
  border-left: 2px solid black;
}

div.users-show li.recipe-box {
  width: 200px;
  height: 150px;
}


div.users-show li.recipe-box strong{
  position: absolute;
  font-size: 20px;

}
