header {
  display: block;
  background: red;
  top: 0;
  width: 100%;
}

header nav h6 {
  font-family: "FuturaExtended";
  font-size: 20px;
  padding-top: 5px;
  float: right;
  position: relative;
  text-shadow: 0 0 0;
  cursor: pointer;
}

header nav h6:hover .dropdown{
  display: block;
}

header nav {
  float: right;
}

header nav input {
  display: block;
  background: transparent;
  font-size: 20px;
  padding: 5px 10px;
}

header nav .dropdown {
  float: left;
  position: absolute;
  display: none;
  bottom: -73px;
  right: 0;
  cursor: pointer;
  background: red;
  cursor: pointer;
  white-space: nowrap;
  border-top: 1px solid white;
}

div.dropdown a, input {
  float: right;
}

div.dropdown a {
  font-size: 20px;
  padding: 5px 10px;
  border-bottom: 1px solid white;
}

header ul {
  float: right;
  display: block;
  font-size: 20px;
  vertical-align: center;

}

header ul li {
  display: block;
  float: left;
  border-left: 1px solid white;
  padding: 5px 10px;
}

header a.add {
  float: left;
  font-size: 36px;
  text-decoration: none;
  margin-bottom: -7px;
  margin-top: -6px;
  margin-right: 8px;
  border: 1px solid white;
  padding: 0 10px;
}

a:hover {
  cursor: pointer;
  color: white;
}

header a.logo {
  font-size: 30px;
  cursor: pointer;
  color: black;
  float: left;
  margin-right: 15px;
  text-decoration: none;
  color: white;
  border-right: 1px solid white;
  padding-right: 5px;
  padding-left: 0;
}
.group:after {
  content: "";
  display: block;
  clear: both;
}
