header {
  display: block;
  background: red;
  top: 0;
  width: 100%;
}

header h6 {
  font-family: "FuturaExtended";
  font-size: 20px;
  padding-top: 5px;
  float: right;
  position: relative
}

header nav {
  float: right;
}

header > form {
  float: right;
  margin-top: 5px;
}

header nav .dropdown {
  float: left;
  position: relative;
}

div.dropdown a, form {
  float: left;
}

div.dropdown a {
  font-size: 20px;
  padding-top: 5px;
}

header a.add {
  float: left;
  font-size: 36px;
  text-decoration: none;
  margin-bottom: -7px;
  margin-top: -6px;
  margin-right: 8px;
  border: 1px solid white;
  padding: 0 10px;
}

a:hover {
  cursor: pointer;
  color: white;
}

header a.logo {
  font-size: 30px;
  cursor: pointer;
  color: black;
  float: left;
  margin-right: 15px;
  text-decoration: none;
  color: white;
  border-right: 1px solid white;
  padding-right: 5px;
}
.group:after {
  content: "";
  display: block;
  clear: both;
}
